* {
  margin: 0;
  padding: 0;
}
li{list-style: none;}
a {
  text-decoration: none;
}
body {
  *position: relative;
  font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
  font-size: 13px;
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body, html {
  height: 100%;
}
img {
  border: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


.header{
	width: 100%;
	height: 30px;
	background:rgb(56,56,56);
	border-bottom: rgb(229,70,70) solid 1px; 
}
.header span,.header-btn{
	display: inline-block;
	line-height: 30px;
	color: #fff;
}
.header-welcome{
	margin-left: 2%;
}
.header-out{
	float: right;
	width: 30px;
	height: 30px;
	background-image: url("../images/logout.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-color:#f60; 
}
.header-btn{
	float: right;
	padding: 0 20px;

}
.header-btn:hover{
	background:rgb(96,96,96);
}

.wrap{
	width: 100%;
	min-width: 1080px;

	height: 100%;
}



/* 头部菜单栏
------------------------------------------------------------------- */
.mainhd { background: url(../images/sky/body_bg.png) repeat-x 0px 0px;}
.logo{
	float: left;
}

.layout-header { 
	background:#474c4f; 
	text-align:left; 
	width:100%; 
	height: 60px;
	position:relative; 
	z-index:1; 
	zoom:1;
}

.top-nav {max-width:320px; _width:expression((documentElement.clientWidth >320) ? "320px" : "auto" );/* IE6 */ height: 28px; padding-bottom: 29px; position: absolute; z-index:1; top: 0; right: 0;}
	.top-nav ul { line-height: 20px; color:#999;  height:20px; padding:6px 8px 2px 0px;}
		.top-nav li { color:#fff; background: url(../images/sky/bg_position.gif) no-repeat scroll -638px -96px;  display:inline; padding-left: 4px; margin-left: 2px; float: left;}
			.top-nav li a { color:#fff; padding-left: 4px;}
			.top-nav li a:hover { color:#0D93BF; background-position: -350px -128px; padding-left: 4px; text-decoration: none;}
				.top-nav li a span { padding-right: 4px;}
				.top-nav li a:hover span { background-position: 100% -128px; }
		.top-nav li.adminid { background: url(../images/sky/user_icon.png) no-repeat scroll 0 0; white-space:nowrap; max-width:150px; _width:expression((documentElement.clientWidth >150) ? "150px" : "auto" );/* IE6 */ height:20px; padding: 0 0 0 24px; margin-right:4px; overflow: hidden;}


	.main-nav ul { height: 42px; padding-left: 1px; }
		.main-nav ul li { font-size: 14px; font-weight: 700; line-height: 20px; background: url(../images/sky/button_bg.png) no-repeat right -84px; _background-image: url(../images/button_bg_default.gif);/* IE6 */ height: 42px; float: left; display: inline; padding-right: 5px; margin-left: 3px;}
			.main-nav ul li a.link { background: url(../images/sky/button_bg.png) no-repeat 0 9999px; _background-image: none;/* IE6 */ height: 42px; float: left; padding-left: 8px; cursor: pointer;}
			.main-nav ul li a:hover.link { text-decoration: none; _text-decoration: underline; background-position: left -126px;}
			.main-nav ul li a.actived , #nav ul li a:hover.actived { background: url(../images/sky/button_bg.png) no-repeat 0px 0px; _background-image: url(../images/button_bg_default.gif);/* IE6 */ height: 42px; padding-left: 8px;}
				.main-nav ul li a.link span { color:#069; background: url(../images/sky/button_bg.png) no-repeat 0px 9999px; _background-image: none;/* IE6 */ height: 20px; float: left; padding: 11px 14px 11px 6px;}
				.main-nav ul li a:hover.link span { color: #333; background-position: right -168px;}
				.main-nav ul li a.actived span , #nav ul li a:hover.actived span { color: #000; background: url(../images/sky/button_bg.png) no-repeat right -42px; _background-image: url(../images/button_bg.gif);/* IE6 */ height: 20px; padding: 11px 14px 11px 6px;}

.loca { line-height:24px; color:#7292A4; height:24px; position: absolute; z-index: 2; top: 62px; left: 170px;}
	.loca div, .loca strong, .crumbs span, span.arrow { float:left; margin-left: 2px;}
	.loca span.arrow { background: url(../images/sky/bg_position.gif) no-repeat scroll -50px -155px; width: 4px; height:8px; margin: 9px 6px 7px 6px; _margin:9px 3px 7px 3px; /* IE6 */}




/*本地生活导航*/
.main_nav {
    
}
.nav-ul {
    
}
.nav-ul li { 
	display: inline-block;
    font-size:14px;
    text-align:center; 

}

.nav-ul li a{ 
	display: inline-block;
	color:#fff;
	padding: 15px;
}
.nav-ul li a:hover , .nav-ul li.actived a{
	background:#606568;
	color: #ffc065; 
}


.nav-ul li i{ 
	display:block; 
	margin: 0 auto 3px;
	width: 70px;
	height: 25px;
	background:url("../images/icon.gif") no-repeat;
}

.nav-ul li i.i01{ background-position:-15px 0; }
.nav-ul li.actived i.i01,.nav-ul li a:hover  i.i01{ background-position:-119px 0; }

.nav-ul li i.i02{ background-position:-10px -30px; }
.nav-ul li.actived i.i02,.nav-ul li a:hover  i.i02{ background-position:-114px -30px; }

.nav-ul li i.i03{ background-position:-14px -60px; }
.nav-ul li.actived i.i03,.nav-ul li a:hover  i.i03{ background-position:-118px -60px; }

.nav-ul li i.i04{ background-position:-15px -95px; }
.nav-ul li.actived i.i04,.nav-ul li a:hover  i.i04{ background-position:-118px -95px;}


.nav-ul li i.i05{ background-position:-14px -134px; }
.nav-ul li.actived i.i05,.nav-ul li a:hover  i.i05{ background-position:-118px -134px; }

.nav-ul li i.i06{ background-position:-15px -170px; }
.nav-ul li.actived i.i06,.nav-ul li a:hover  i.i06{ background-position:-118px -60px; }

.nav-ul li i.i07{ background-position:-14px -170px; }
.nav-ul li.actived i.i07,.nav-ul li a:hover  i.i07{ background-position:-118px -170px; }

.nav-ul li i.i08{ background-position:-14px -205px; }
.nav-ul li.actived i.i08,.nav-ul li a:hover  i.i08{ background-position:-118px -205px; }


.nav-ul li i.i09{ background-position:-14px -237px; }
.nav-ul li.actived i.i09,.nav-ul li a:hover  i.i09{ background-position:-118px -237px; }

.nav-ul li i.i10{ background-position:-14px -305px; }
.nav-ul li.actived i.i10,.nav-ul li a:hover  i.i10{ background-position:-116px -305px; }





/*左侧导航菜单栏
------------------------------------------------------------------- */
.left-menu { 
	background: url("../images/left.png") repeat-y left top;
	position:relative; z-index:20; width:161px;
	vertical-align:top;
}
.left-menu ul { 

	display:none; width: 161px; 
}
.left-menu li a , .left-menu li a.selected{ 
	line-height:38px; 
	text-decoration: none;
	color:#31444D ; 
	background: url("../images/m_position.gif") no-repeat ; 
	display: block; width:117px; 
	height: 38px; 
	float: left; 
	clear: left; 
	padding: 0 12px 0 29px; 
	margin: 0;
}
.left-menu li a { background-position:12px 2px;}
.left-menu li a.selected { color:#C66218;background-color:#fceccc; background-position:-152px 1px;border-left: 3px solid #FF8E15;}
.left-menu dl dt{ background-position: -322px -170px; cursor: pointer;}
.left-menu li a:hover{ color: #B04C02;} 

/*iframe 加载中
------------------------------------------------------------------- */
.content_td{
	position: relative;
}
.loading{
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -20px;
	margin-top: -20px;
}

