<div id="ftw">
	<div id="ft">
		<p style="text-align:center; line-height:38px;">
            <a href="/news.php?id=10">关于{$INI['system']['abbreviation']}</a> |
            
            <a href="/feedback/seller.php">商户入驻</a> |
            
            <a href="/news.php?id=2">常见问题</a> |
            
            <a href="/app_download.php">相关下载</a> |   
            
            <a href="/news.php?id=17">商户教程</a>
        </p>
		<div class="copyright">
		<p>&copy;<span>2010</span>&nbsp;{$INI['system']['sitename']}（{$INI['wwwprefix']['wwwprefix']}）版权所有&nbsp;<a href="/about/terms.php">使用{$INI['system']['abbreviation']}前必读</a>&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">{$INI['system']['icp']}</a>&nbsp;Powered by <a href="http://www.moyou.cc/" target="_blank">MoYou.cc</a> software.</p>
		</div>
	</div>
</div>
