
     <div class="deal cs">
    <div class="title"><span class="floatleft"><img src="/static/0750/images/wb.jpg"><span id="orange">关注我们</span></span><span class="floatright"><a target="_blank" href="{$INI['system']['sinajiwai']}" class="plus">关注</a></span></div>
    <div class="list">
     <p><img src="/static/0750/images/sever01.jpg">客服热线：{$INI['system']['kefu_hotline']}</p>
     <p><img src="/static/0750/images/sever02.jpg">客服服务时间：{$INI['system']['server_time']}</p>
     <p style="padding-left:20px;">客服值班：周一至周日(节假日除外)</p>
     <p><img src="/static/0750/images/sever03.jpg">投诉邮箱：<a href="mailto:{$INI['system']['tousu_email']}">{$INI['system']['tousu_email']}</a></p>
     <p class="put"><a href="/feedback/seller.php" target="_blank">想发布团购吗？(点我在线发布)</a></p>
    </div>
      <div class="title"><span id="green">意见反馈</span></div>
    <div style="width:235px;">
    <div style="float:left; width:66px;"><img src="/static/0750/images/fk.gif"></div>
    <div style="float:left; width:168px;">{$INI['system']['abbreviation']}新平台与用户见面啦！欢迎大家提交宝贵意见！<br><a href="/feedback/suggest.php" target="_blank"><img border="0" src="/static/0750/images/fkBtn.gif" style="margin-top:5px;"></a></div>
    </div>
    </div>
