<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8"><meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">



<link rel="stylesheet" type="text/css" href="style/common_css_0_6c6ef1d.css"><link rel="stylesheet" type="text/css" href="style/common_css_4_79dfcef.css"></head>
<link rel="stylesheet" type="text/css" href="style/list_css_0_6f15796.css">





<body mon="position=help">

<!--{include m_header}-->


<div class="p-help-info">
<section>
<h1>手机上能够完成支付吗？</h1>
<div>
<p>当您购买完成的时候，可以通过支付宝完成付款。</p>
<p>如果您没有支付宝账户也不用担心，支付宝支持直接用储蓄卡、信用卡等方式进行支付，可以用支持招商、工行、建行、中行、交行等主流银行的账户，同时确保您的交易安全</p>
</div>
</section>
<section>
<h1>手机上完成交易了，能在哪里看到我的糯米券呢？</h1>
<div>
<p>和糯米网站一样，只要您完成交易，就会收到糯米发给您的糯米券码，同时您还能够在客户端、wap账户和糯米官方网站里看到您购买的糯米券，十成十的方便放心。</p>
</div>
</section>
<section>
<h1>什么情况下可以退款？</h1>
<div>
<p>我们会保证您购买交易的安全，下面两种可以退款：</p>
<p>a. 团购结束时没有凑够团购人数；</p>
<p>b. 团购成功后，商家因意外原因临时出现停业或搬家的情况。（请相信我们不会让这种情况发生）</p>
<br>
随便退：<br>
百度糯米独家诚信担保，未消费，随便退！<h2>退款规则：</h2>
<ol>
<li>所有未消费的团购券都支持随便退服务（除需要物流配送的团购以外）。</li>
</ol></div>
<div class="rule_content">
<h2>退款方式：</h2>
<ol>
<li>
<h3>选择退至百度糯米账号：审核通过后，会在1-2个工作日内把款项退回到您的百度糯米账户。</h3>
<p>余额可在下次团购时直接冲抵现金，也可随时致电客服电话（4006-888-887）进行提现。</p>
<p>提现审核：小额提现审核3-10个工作日，大额提现审核需30个工作日。</p>
<p>大额提现：指用户在30日内申请提现的总金额大于或等于人民币5000元的情形。</p>
</li>
<li>
<h3>选择原路返回：审核通过后，会在2-5个工作日内把款项退回到您的原支付方，通过网银或支付宝等第三方支付平台进行支付的费用将直接退到原账户。</h3>
</li></ol>
</div>
</section>
<div style="padding-left:10px;">
备注：<br>1. 2014年3月6日前购买的不支持退款的团购，如果已经过期，则不享受随便退服务。<br>2. 您可以通过”我的糯米”-“我的订单”-“订单详情”中查看订单对应的售后服务。<br>3. 若用户在购买百度糯米团购时涉嫌违约、诈骗等违背诚信原则的行为，将无法享受随便退服务。</div>
<section style="padding-top:10px;">
<h1>去商家消费的时候，有其他要注意的么？</h1>
<div>
<p>每个团购信息里都会有特别提示，不同商家不一样，所以请您注意阅读，那很重要</p>
</div>
</section>
<section>
<h1>我购买的糯米券，可以给其他人使用么？</h1>
<div>
<p>当然可以！所以你可以买了送给身边的家人朋友，给他们一个惊喜！但是别忘了，不要泄露给别人哦。</p>
</div>
</section>
</div>
<div class="p-help-box">
<p>没有解决您的问题？</p>
<p>对手机上使用糯米网还有任何的意见？</p>
<p><a href="http://m.nuomi.com/webapp/common/staticfeedback">反馈给我们</a></p>
</div>
<div class="p-help-box">
<ol>
<li>联系我们：</li>
<li>客服电话：<a href="tel:4006888887">4006-888-887</a></li>
<li>新浪微博：<a href="http://weibo.com/nuomiwang">(http://weibo.com/nuomiwang)</a></li>
<li>电子邮箱：<a href="mailto:help@nuomi.com">help@nuomi.com</a></li>
<li>QQ群：169875637</li>
</ol>
</div>

<!--{include m_footer}-->

</body></html>
