<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ZH-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />

<!--{include meta_and_title}-->

<link rel="icon" href="favicon.ico" type="/image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="/image/x-icon" />
<link href="/static/0750/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/list.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/custom.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/near.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/og.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/page.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/supplier.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/member.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/poptips.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/hack.css" rel="stylesheet" type="text/css" />
<script src="/static/0750/js/j.js" type="text/javascript"></script>
<script src="/static/0750/js/jquery.jcookie.min.js" type="text/javascript"></script>
<script src="/static/0750/js/history.js" type="text/javascript"></script>
<script src="/static/0750/js/js_lang.js" type="text/javascript"></script>
<script language="JavaScript">
<!--
//指定当前组模块URL地址
var CND_URL = 'http://www.0750.tuanzhang.cc';
var HTTP_URL = 'http://www.0750.tuanzhang.cc';
var ROOT_PATH = '';
var PUBLIC = 'app/Tpl/0750/Public';
var VAR_MODULE = 'm';
var VAR_ACTION = 'a';
var FANWE_LANG_ID = '1';
var cityID = '25';

//-->
</script>
</head>

<body>

<!--{include head_ctn}-->

<script type="text/javascript">
$('.ptl .choose a').hover(function(){
	$('.ptl .tl').show();
},function(){});
$('.ptl').hover(function(){},
    function(){
        $('.ptl .tl').hide();
    });
</script>
<div class="selector listpage">
   <div class="option">
  <ul class="listblock lb1">
   <li class="op o4">新团日期</li>
  </ul>
  <ul class="listblock lb2">
   <li><a href="" class="focus">一周新团</a></li>
   <li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&day=1" class=" ">今天<span>14</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&day=2" class=" ">昨天<span>9</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&day=3" class=" ">7月5日<span>10</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&day=4" class=" ">7月4日<span>28</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&day=5" class=" ">7月3日<span>10</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&day=6" class=" ">7月2日<span>18</span></a></li>  </ul>
 </div>
 <div class="line"></div>
     <div class="option">
  <ul class="listblock lb1">
   <li class="op o3">团购分类</li>
  </ul>
  <ul class="listblock lb2">
   <li><a   class="focus">全部分类</a>
   <li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&id=65" class=" ">餐饮美食<span>53</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&id=54" class=" ">休闲娱乐<span>5</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&id=181" class=" ">现金券<span>4</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&id=166" class=" ">生活服务<span>16</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&id=55" class=" ">旅游住宿<span>15</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&id=80" class=" ">自选商品<span>1</span></a></li>                                               </ul>
 </div>
   <div class="line"></div>
   <div class="option">
  <ul class="listblock lb1">
   <li class="op o2">选择地区</li>
  </ul>
  <ul class="listblock lb2">
   <li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0" class="focus">全部</a></li>
      <li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&qid=1" title="蓬江区">蓬江区<span>56</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&qid=2" title="江海区">江海区<span>2</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&qid=4" title="新会区">新会区<span>22</span></a></li><li><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&qid=11" title="开平市">开平市<span>9</span></a></li>     </ul>
 </div>
   </div>
<div style="height:75px; width:1100px; overflow:visible;">
 <div class="listcontorl" id="contorl">
  <a class="active" title="按默认排序">默认</a>
  <a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&sc=sell" class="nor" title="按销量由高到低排序"><span>销量</span><i></i></a>
  <a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&sc=new" class="nor" title="按发布时间由新到旧排序"><span>发布时间</span><i></i></a>
  <a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&sc=zhekou" class="nor" title="按折扣由低到高排序"><span>折扣</span><i></i></a>
  <a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&sc=rate" class="nor" title="按好评率由高到低排序"><span>好评率</span><i></i></a>
  <a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.0&sc=price" class="nor" title="按价格由低到高排序"><span>价格</span><i></i></a>
  <a href="javascript:;" class="nor price addborder"><input type="text" class="c" id="min_price" value="" /><span class="line">-</span><input type="text" class="c" id="max_price" value="" /><span class="pricelaw"><input type="button" value="确定" /></span></a>
  <a href="/index.php?m=Goods&a=new&attr=1.0.0.0.0.0" class="nor nc uncheck"><i></i><span>无线WIFI</span></a><a href="/index.php?m=Goods&a=new&attr=0.1.0.0.0.0" class="nor nc uncheck"><i></i><span>停车位</span></a><a href="/index.php?m=Goods&a=new&attr=0.0.1.0.0.0" class="nor nc uncheck"><i></i><span>节假日通用</span></a><a href="/index.php?m=Goods&a=new&attr=0.0.0.1.0.0" class="nor nc uncheck"><i></i><span>无需预约</span></a><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.1.0" class="nor nc uncheck"><i></i><span>周末通用</span></a><a href="/index.php?m=Goods&a=new&attr=0.0.0.0.0.1" class="nor nc uncheck"><i></i><span>代金券</span></a> </div>
</div>
<script type="text/javascript">
$('a input.c').click(function(){
	$('.pricelaw').show();
});
$("a input#min_price").blur(function(){
    var max_price = parseFloat($("a input#max_price").val());
    var min_price = parseFloat($(this).val());
    if(max_price > 0 && min_price > 0 && min_price > max_price)
    {
        $("a input#max_price").val(min_price);
        $(this).val(max_price);
    }
});
$("a input#max_price").blur(function(){
    var min_price = parseFloat($("a input#min_price").val());
    var max_price = parseFloat($(this).val());
    if(max_price > 0 && min_price > 0 && min_price > max_price)
    {
        $("a input#min_price").val(max_price);
        $(this).val(min_price);
    }
});
$('.pricelaw input').click(function(){
    var price_url = "/index.php?m=Goods&a=new&attr=0.0.0.0.0.0";
    var price_url_p = "";
    var min_price = parseFloat($("a input#min_price").val());
    var max_price = parseFloat($("a input#max_price").val());
    if(min_price > 0)
        price_url_p += "&min_price="+min_price;
    if(max_price > 0)
        price_url_p += "&max_price="+max_price;
	$('.pricelaw').hide();
    if(min_price > 0 || max_price > 0)
        window.location.href = price_url + price_url_p;
    else
    {
        $("a input#min_price").val('');
        $("a input#max_price").val('');
        window.location.href = price_url;
    }
});
$(document).ready(function(){
if('undefined' == typeof(document.body.style.maxHeight)){
}else{
	$("#contorl").scrollFix("top","top");
  }
});
</script><div class="content" style="border-top:none;">
     <div class="panel p1" id="container">
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7549" target="_blank">
               <img src="/static/0750/images/53b4d7677c060.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7549" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;（江门店）跃进路长乐里28号">蓬江区</em><span>江门市中国旅行社有限公司</span></a>
   <a href="index.php?m=Goods&a=show&id=7549" target="_blank" title="江门、新会均可出发！仅39.9元！享原价60元的【江门市中国旅行社】单人澳门1日自由行！含江门/新会至珠海的来回交通费用！轻松自由行，看尽都市繁华，让你尽情领略“东方蒙地卡罗”的迷人魅力！详情参考页面！"><span>江门、新会均可出发！仅39.9元！享原价60元的【江门市中国旅行社】单人澳门1日自由行！含江门/新会至珠海的来回交通费用！轻松自由行，看尽都市繁华，让你尽情领略“东方蒙地卡罗”的迷人魅力！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">39</span>
     <span class="sf">.90</span>
    </span>
    <span class="sale">
     <span class="discount">6.7折</span>
     <span class="exfee">¥60</span>
    </span>
    <span class="buyer">
     <b>4934</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7549" data-is_loaded="true" data-up_time="1404717648">7</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7515" target="_blank">
               <img src="/static/0750/images/53b26b3359b0f.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7515" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;（江门店）跃进路长乐里28号">蓬江区</em><span>江门市中国旅行社有限公司</span></a>
   <a href="index.php?m=Goods&a=show&id=7515" target="_blank" title="仅107元！享原价280元的【江门市中国旅行社】阳西沙扒湾休闲直通车两天游！波光粼粼万顷碧涛，蔓延海岸线，亲手挑选海鲜，放飞假日好心情！详情参考页面！"><span>仅107元！享原价280元的【江门市中国旅行社】阳西沙扒湾休闲直通车两天游！波光粼粼万顷碧涛，蔓延海岸线，亲手挑选海鲜，放飞假日好心情！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">107</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">3.8折</span>
     <span class="exfee">¥280</span>
    </span>
    <span class="buyer">
     <b>73</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7515" data-is_loaded="true" data-up_time="1404717648">7</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block nomarginright">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7529" target="_blank">
               <img src="/static/0750/images/53b3a62b01f40.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7529" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区水南路祈安街6号">蓬江区</em><span>高佬全蛋面</span></a>
   <a href="index.php?m=Goods&a=show&id=7529" target="_blank" title="【特卖3天】抢购！仅3.8元!享原价10元的【高佬全蛋面】云吞面一份！传统外海面！纯手工生晒！绿色美味！详情参考页面！"><span>【特卖3天】抢购！仅3.8元!享原价10元的【高佬全蛋面】云吞面一份！传统外海面！纯手工生晒！绿色美味！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">3</span>
     <span class="sf">.80</span>
    </span>
    <span class="sale">
     <span class="discount">3.8折</span>
     <span class="exfee">¥10</span>
    </span>
    <span class="buyer">
     <b>51</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips btr">
    <div class="tri tr"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                              <i class="i7" title="本团无需提前预约，购买即可到店消费">无需预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7529" data-is_loaded="true" data-up_time="1404717648">6</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7519" target="_blank">
               <img src="/static/0750/images/53b36f5eeaa65.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7519" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;新会区会城镇侨兴北路3号202（江会路石牛旁）">新会区</em><span>红歌会KTV</span></a>
   <a href="index.php?m=Goods&a=show&id=7519" target="_blank" title="仅48元！享原价95元的『红歌会』午场K歌套餐！全新装修！还可升级中房！喜欢约三五好友飙歌的您！还在等什么，赶快行动吧！详情参考页面！"><span>仅48元！享原价95元的『红歌会』午场K歌套餐！全新装修！还可升级中房！喜欢约三五好友飙歌的您！还在等什么，赶快行动吧！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">48</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">5.1折</span>
     <span class="exfee">¥95</span>
    </span>
    <span class="buyer">
     <b>2445</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9 un" title="本团在节假日可使用">节假日不可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7519" data-is_loaded="true" data-up_time="1404717648">3</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7557" target="_blank">
               <img src="/static/0750/images/53b762ca31975.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7557" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区白沙大道东11号308、309铺世纪广场">蓬江区</em><span>蠔壹</span></a>
   <a href="index.php?m=Goods&a=show&id=7557" target="_blank" title="仅1元！享原价38元【蠔壹】的饮料一杯！每周特卖100杯！详情参考页面！"><span>仅1元！享原价38元【蠔壹】的饮料一杯！每周特卖100杯！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">1</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">0.3折</span>
     <span class="exfee">¥38</span>
    </span>
    <span class="buyer">
     <b>74</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                              <i class="i7" title="本团无需提前预约，购买即可到店消费">无需预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7557" data-is_loaded="true" data-up_time="1404717648">4</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block nomarginright">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7523" target="_blank">
               <img src="/static/0750/images/53b378e824491.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7523" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区紫茶路18号新侨都酒店三楼303A铺">蓬江区</em><span>多意吃餐厅</span></a>
   <a href="index.php?m=Goods&a=show&id=7523" target="_blank" title="仅99元！享原价276元的【多意吃】4-5人豪华套餐！让您享尽各种美味！详情参考页面！"><span>仅99元！享原价276元的【多意吃】4-5人豪华套餐！让您享尽各种美味！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">99</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">3.6折</span>
     <span class="exfee">¥276</span>
    </span>
    <span class="buyer">
     <b>5</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips btr">
    <div class="tri tr"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:20%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>1.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7523" data-is_loaded="true" data-up_time="1404717648">7</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7477" target="_blank">
               <img src="/static/0750/images/53b0d7c5e6d5c.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7477" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;蓬江区院士路72号149室（中天国际兴业银行旁）
">蓬江区</em><span>华仔发艺工作室</span></a>
   <a href="index.php?m=Goods&a=show&id=7477" target="_blank" title="仅9.9元！享原价45元的【华仔发艺工作室】韩国女士专门店洗剪吹套餐！仅限50份！专业美发，颠覆经典，打造最美的你！详情参考页面！"><span>仅9.9元！享原价45元的【华仔发艺工作室】韩国女士专门店洗剪吹套餐！仅限50份！专业美发，颠覆经典，打造最美的你！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">9</span>
     <span class="sf">.90</span>
    </span>
    <span class="sale">
     <span class="discount">2.2折</span>
     <span class="exfee">¥45</span>
    </span>
    <span class="buyer">
     <b>8</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                              <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9 un" title="本团在节假日可使用">节假日不可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7477" data-is_loaded="true" data-up_time="1404717648">1</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7478" target="_blank">
               <img src="/static/0750/images/53b0c71909952.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7478" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区丽宫酒店新翼四楼（出电梯左转）">蓬江区</em><span>雄哥扒房</span></a>
   <a href="index.php?m=Goods&a=show&id=7478" target="_blank" title="仅68元！享原价153元【雄哥扒房】的午间双人套餐一份！名厨主理，别致美食，给您品质的享受，超大空中花园美景，让您在此陶醉！详情参考页面！"><span>仅68元！享原价153元【雄哥扒房】的午间双人套餐一份！名厨主理，别致美食，给您品质的享受，超大空中花园美景，让您在此陶醉！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">68</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">4.4折</span>
     <span class="exfee">¥153</span>
    </span>
    <span class="buyer">
     <b>8</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7" title="本团无需提前预约，购买即可到店消费">无需预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7478" data-is_loaded="true" data-up_time="1404717648">7</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block nomarginright">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7494" target="_blank">
               <img src="/static/0750/images/53b129acad9d5.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7494" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区水南凤阳街19号之二，之三（宝娜美容院转入10米）">蓬江区</em><span>雨燕饮品店（法国与意大利特色餐厅）</span></a>
   <a href="index.php?m=Goods&a=show&id=7494" target="_blank" title="【新品站试吃300份】仅68元！享原价165元！【雨燕饮品店】的休闲双人套餐（份量足）！香港大厨操刀，精致小吃，滋味饮品，美味无法抵挡！详情参考页面！"><span>【新品站试吃300份】仅68元！享原价165元！【雨燕饮品店】的休闲双人套餐（份量足）！香港大厨操刀，精致小吃，滋味饮品，美味无法抵挡！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">68</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">4.1折</span>
     <span class="exfee">¥165</span>
    </span>
    <span class="buyer">
     <b>214</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips btr">
    <div class="tri tr"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:94%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>4.7</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7494" data-is_loaded="true" data-up_time="1404717648">13</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7522" target="_blank">
               <img src="/static/0750/images/53b3c6a8a22ba.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7522" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市新会区会城人民路汇泗里3座1-3铺">新会区</em><span>麦思蛋糕</span></a>
   <a href="index.php?m=Goods&a=show&id=7522" target="_blank" title="【每天限供100杯】仅9.9元，享价值14元的『麦思蛋糕』木糠芒果杯+冻柠茶1杯！细腻香甜，甜而不腻，品味甜美生活，尽享甜蜜味道！详情参考页面！"><span>【每天限供100杯】仅9.9元，享价值14元的『麦思蛋糕』木糠芒果杯+冻柠茶1杯！细腻香甜，甜而不腻，品味甜美生活，尽享甜蜜味道！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">9</span>
     <span class="sf">.90</span>
    </span>
    <span class="sale">
     <span class="discount">7.1折</span>
     <span class="exfee">¥14</span>
    </span>
    <span class="buyer">
     <b>19</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                              <i class="i7" title="本团无需提前预约，购买即可到店消费">无需预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7522" data-is_loaded="true" data-up_time="1404717648">6</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7561" target="_blank">
               <img src="/static/0750/images/53b63ec839387.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7561" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区紫茶路18号新侨都酒店三楼303A铺">蓬江区</em><span>多意吃餐厅</span></a>
   <a href="index.php?m=Goods&a=show&id=7561" target="_blank" title="仅58.8元！享原价150元的【多意吃】豪华2-3人套餐！尽享精致美味！详情参考页面！"><span>仅58.8元！享原价150元的【多意吃】豪华2-3人套餐！尽享精致美味！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">58</span>
     <span class="sf">.80</span>
    </span>
    <span class="sale">
     <span class="discount">3.9折</span>
     <span class="exfee">¥150</span>
    </span>
    <span class="buyer">
     <b>104</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:80%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>4.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7561" data-is_loaded="true" data-up_time="1404717648">5</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block nomarginright">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7476" target="_blank">
               <img src="/static/0750/images/53b0c435cff26.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7476" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;江门市蓬江区丽宫酒店新翼四楼（出电梯左转）">蓬江区</em><span>雄哥扒房</span></a>
   <a href="index.php?m=Goods&a=show&id=7476" target="_blank" title="仅38元！享原价86元【雄哥扒房】的单人鱼翅套餐一份！名厨主理，别致美食，给您品质的享受，超大空中花园美景，让您在此陶醉！详情参考页面！"><span>仅38元！享原价86元【雄哥扒房】的单人鱼翅套餐一份！名厨主理，别致美食，给您品质的享受，超大空中花园美景，让您在此陶醉！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">38</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">4.4折</span>
     <span class="exfee">¥86</span>
    </span>
    <span class="buyer">
     <b>5</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips btr">
    <div class="tri tr"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7476" data-is_loaded="true" data-up_time="1404717648">1</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7575" target="_blank">
               <img src="/static/0750/images/53b7b13df0537.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7575" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;蓬江区东华一路39-41号二楼">蓬江区</em><span>勋雄港式茶餐厅</span></a>
   <a href="index.php?m=Goods&a=show&id=7575" target="_blank" title="仅58元！享原价101元的[勋雄港式茶餐厅]特色3-4人夜茶体验！小资情调，舒适感受温馨浪漫！美味勾引舌尖，细细地品味美食！详情参考页面！ "><span>仅58元！享原价101元的[勋雄港式茶餐厅]特色3-4人夜茶体验！小资情调，舒适感受温馨浪漫！美味勾引舌尖，细细地品味美食！详情参考页面！ </span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">58</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">5.7折</span>
     <span class="exfee">¥101</span>
    </span>
    <span class="buyer">
     <b>4</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7" title="本团无需提前预约，购买即可到店消费">无需预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7575" data-is_loaded="true" data-up_time="1404717648">2</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7567" target="_blank">
               <img src="/static/0750/images/53b675fbcdfe6.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7567" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;地王广场4楼潮尚街402-3店 ">蓬江区</em><span>J-ONE雅聚西餐厅</span></a>
   <a href="index.php?m=Goods&a=show&id=7567" target="_blank" title="【特卖一天】仅48元！享原价144元的『J-ONE雅聚西餐厅』豪华双人套餐！食材选用严谨，给你带来色香味俱全的感受，别具一格的试食盛宴！详情参考页面！"><span>【特卖一天】仅48元！享原价144元的『J-ONE雅聚西餐厅』豪华双人套餐！食材选用严谨，给你带来色香味俱全的感受，别具一格的试食盛宴！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">48</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">3.3折</span>
     <span class="exfee">¥144</span>
    </span>
    <span class="buyer">
     <b>1</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips">
    <div class="tri tl"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9" title="本团在节假日可使用">节假日可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7567" data-is_loaded="true" data-up_time="1404717648">12</b>人正在看此团购
    </div>
   </div>
  </div>
    <div class="block nomarginright">
  <div class="blockinside">
   <div class="picture">
     <!-- 如果是特卖则显示 -->
              <a href="index.php?m=Goods&a=show&id=7520" target="_blank">
               <img src="/static/0750/images/53b36efd68f33.jpg" width="248" height="158" />
    </a>
   </div>
   <div class="title"><a href="index.php?m=Goods&a=show&id=7520" class="supplierName" target="_blank"><em title="商家地址：&#13;&#10;新会区会城镇侨兴北路3号202（江会路石牛旁）">新会区</em><span>红歌会KTV</span></a>
   <a href="index.php?m=Goods&a=show&id=7520" target="_blank" title="仅28元！享原价65元的『红歌会』晚场K歌套餐！全新装修！还可升级中房！喜欢约三五好友飙歌的您！还在等什么，赶快行动吧！详情参考页面！"><span>仅28元！享原价65元的『红歌会』晚场K歌套餐！全新装修！还可升级中房！喜欢约三五好友飙歌的您！还在等什么，赶快行动吧！详情参考页面！</span></a>
   </div>
   <div class="price">
    <span class="fee">
     <span class="symbol">￥</span>
     <span class="bf">28</span>
     <span class="sf">.00</span>
    </span>
    <span class="sale">
     <span class="discount">4.3折</span>
     <span class="exfee">¥65</span>
    </span>
    <span class="buyer">
     <b>215</b>人已购买
    </span>
   </div>
   </div>
   <div class="blocktips btr">
    <div class="tri tr"></div>
    <div class="td1">
     <i class="it">官方服务承诺</i>
     <i class="i1" title="该团购支持退款">支持退款</i>                         <i class="i6" title="购买本团购可以免费获赠0750团购网积分">消费送积分</i>     <i class="i7 un" title="本团需要提前预约">需要提前预约</i>     <i class="i8" title="本团周六日通用">周末通用</i>     <i class="i9 un" title="本团在节假日可使用">节假日不可使用</i>     <i class="it mark orange">
      <em>团购评分</em>
      <em class="star"><i style="width:100%;"><img src="/static/0750/images/stars.gif" height="12" width="66"></i></em>
      <em>5.0</em>
     </i>
    </div>
    <div class="td2">
     有<b class="red click_count" data-s_item_id="7520" data-is_loaded="true" data-up_time="1404717648">6</b>人正在看此团购
    </div>
   </div>
  </div>
   </div>
  <div id="loadingPins" class="loading"> 
<p><img src="/static/0750/images/loading.gif" height="20" /></p>
</div>
<script type="text/javascript">
function oncompleted()
{
    panelHover();
}
$(function()
{
	var config={url:"/index.php?m=Goods&a=new_ajax",container:'#container',len:15};
	var is_loading=false;
	var lastTop=0;
	var nextpage=2;
	var pagesize=config.len;
	var totalpage=nextpage;
	$(window).scroll(function(){
		var containerHeight=$(config.container).height();
		var windowHeight=$(window).height();
		var scrollerPosition=$(window).scrollTop();
		var offset=$(config.container).offset().top;
		if(containerHeight+offset-scrollerPosition-windowHeight<=50&&!is_loading)
		{
			if(nextpage>totalpage)
			{
			   return;
			}
			is_loading=true;
			$('#loadingPins').show();
			$.get(config.url,{page:nextpage,pagesize:pagesize},function(data)
				{
					nextpage++;
					is_loading=false;
					totalpage=data.pages;
					if(data.stat=="ok")
					{
					    var obj=$(data.items).appendTo(config.container);
					    //$("img.lazy",obj).lazyload({
						  //effect:"fadeIn"
					      //});
					}
					$('#loadingPins').hide();
					oncompleted();
				}
			);
		}
	});		
});
</script>
<div class="pageturning"><ul><li><a class='focus'>1</a></li><li><a href='/index.php?m=Goods&a=new&p=2'>2</a></li><li class='turn next'><a href='/index.php?m=Goods&a=new&p=2'>下一页 &gt;</a></li></ul></div></div>


<!--{include foot_ctn}-->




<script src="/static/0750/js/owr.js" type="text/javascript"></script>
<script src="/static/0750/js/ie6.js" type="text/javascript"></script><script src="/static/0750/js/js.js" type="text/javascript"></script>
<script src="/static/0750/js/scroll.js" type="text/javascript"></script>
<script src="/static/0750/js/scrollFix.js" type="text/javascript"></script>
<script src="/static/0750/js/scrollStu.js" type="text/javascript"></script>
<script src="/static/0750/js/common.js" type="text/javascript"></script>
<link href="/static/0750/css/birthday.css" rel="stylesheet" type="text/css" />
<div class="birthday">
 <div class="pos">
  <a href="javascript:;" title="关闭" class="close c_close">关闭</a>
  <a class="font c_close" target="_blank" href="http://www.0750.tuanzhang.cc/index.php?m=Adv&a=show&id=246">消费评价，大奖等你拿&gt&gt</a>
  <a class="pic c_close" target="_blank" href="http://www.0750.tuanzhang.cc/index.php?m=Adv&a=show&id=246">0750团购网4周年庆</a>
  <i class="cricle start"></i>
 </div>
 <div class="mask"></div>
</div>


</body>
</html>