<!--{include header}-->
<link href="/static/0750/css/linkinusaindex.css" rel="stylesheet" type="text/css">
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content" style="width:1100px; margin:0 auto">
    <div id="order-pay-return" class="box">
        
        <div class="box-content">
			<div class="success" style="height:300px; padding-top:170px;">
                  <div style=" padding-left:300px;font-size:20px">
                          <p style="color:#00CC00; font-size:18px;">恭喜你！支付成功</p>
                          <p>请查收邮件：{$userinfo['email']}</p>
                     </div>
            </div>
		</div>
		
	</div>
</div>
<div id="side">
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
