

<div class="sidebar" style="opacity: 1;">
 <div class="rightPos rp">
  <div class="fix">
   <ul>
        <li><a title="每日新单" href="/category.php" class="b1">每日新单</a><i class="tips">每日新单</i></li>
        <li><a title="餐饮美食"  href="/category.php?gid=5" class="b2">餐饮美食</a><i class="tips">餐饮美食</i></li>
        <li><a title="休闲娱乐"  href="/category.php?gid=6" class="b3">休闲娱乐</a><i class="tips">休闲娱乐</i></li>
        <li><a title="生活服务"  href="/category.php?gid=6" class="b4">生活服务</a><i class="tips">生活服务</i></li>
        <li><a title="旅游住宿"  href="/category.php?gid=9" class="b5">旅游住宿</a><i class="tips">旅游住宿</i></li>
        <li><a title="自选商品"  href="/category.php?gid=10" class="b6">自选商品</a><i class="tips">自选商品</i></li>
       </ul>
  </div>
 </div>
</div>

<div class="backToTop btt">
 <div class="rightPos rp">
  <div class="fix">
   <ul>
    <li><a href="#" class="b1" target="_blank">我的收藏</a><i class="tips">我的收藏</i></li>
    <li><a href="http://wpa.qq.com/msgrd?v=3&uin={$INI['system']['kefuqq']}&site=qq&menu=yes;" class="b3">联系客服</a><i class="tips">联系客服</i></li> 
 <li><a href="#top" class="b2">返回顶部</a><i class="tips">返回顶部</i></li>
   </ul>
  </div>
 </div>
</div>

  