<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ZH-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<!--{include meta_and_title}-->
<link rel="icon" href="favicon.ico" type="/image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="/image/x-icon" />
<link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen" charset="utf-8" />
<link href="static/0750/css/style.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/list.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/custom.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/near.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/og.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/page.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/supplier.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/member.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/poptips.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/reviews.css" rel="stylesheet" type="text/css" />
<link href="static/0750/css/hack.css" rel="stylesheet" type="text/css" />
<!--<script src="static/0750/js/j.js" type="text/javascript"></script>-->
<script src="static/0750/js/jquery.jcookie.min.js" type="text/javascript"></script>
<script src="static/0750/js/history.js" type="text/javascript"></script>
<script src="static/0750/js/js_lang.js" type="text/javascript"></script>
<script src="/static/js/index.js" type="text/javascript"></script>
<script language="JavaScript">
$(document).ready(function () {
	$("#small_list li").click(function(){ 
		var src = $(this).find("img").attr('src');
        $(this).addClass('a').siblings().removeClass('a');
		$("#imgview").find("img").attr("src",src);
  });
if(!ie6){
$("#fix").scrollFix("top","top");
$("#history").scrollFix("top","top");}
var pagesize=getPageSize();
	$('#Mask').width(pagesize[0]);
	$('#Mask').height(pagesize[1]);
resize(); 
$(".otherlist").mouseover(
	  function () {
	    $(this).addClass("hover");
	  }
	);
	$(".otherlist").mouseout(
	  function () {
	    $(this).removeClass("hover");
	  }
	);
});
</script>

</head>

<body data-spy="scroll" data-target=".gre-navigation" data-offset="60">
<div id="pagemasker"></div><div id="dialog"></div>
<!--{include head_ctn}-->

<script type="text/javascript">
$('.ptl .choose a').hover(function(){
	$('.ptl .tl').show();
},function(){});
$('.ptl').hover(function(){},
    function(){
        $('.ptl .tl').hide();
    });
</script>
<link href="static/0750/css/reviews01.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#Mask {
	position:absolute;
	display:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.1;
	filter:alpha(opacity=10);
	z-index:9000;
}
#mbox {
	position:fixed;
	_position:absolute;
	visibility:hidden;
	top:10px;
	width:1000px;
	height:550px;
	border:1px solid #68b02c;
	background:#ffffff;
	z-index:10000;
}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4&services=true"></script>
<script type="text/javascript" src="static/0750/js/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="static/0750/css/SearchInfoWindow_min.css" />
<script type="text/javascript" src="static/0750/js/scrollFix.js"></script>

<script type="text/javascript">
bShareOpt = {
   uuid: "95a39e2f-f790-4936-b87a-942b33c3690a", 
   url: "", //商品的永久链接
   summary: "", //商品描述
   pic: "", //商品图片链接
   vUid: "", //用户id，为了让您能够知道您网站的注册用户分享、喜欢了哪些商品
   product: "", //商品名称
   price: "", //商品价格
   brand: "", //商品品牌
   tag: "", //商品标签
   category: "", //商品分类
   template: "1" 
};
</script>
<div class="content detailpage dp">
 <div class="section">

  <div class="info">
   <div class="title">
    <div class="supplieroption so"><b>${get_area_name($team['area_id'])}</b>{$partner['title']}</div>
    <div class="productoption po">{$team['title']}</div>
   </div>
   <div class="base">
    <div class="picture">
     <div class="pic" id="imgview">
      <img src="${team_image_0750($team['image'])}" width="440" height="280" class="s" />
      <img src="${team_image($team['image1'])}" width="440" height="280" />
      <img src="${team_image($team['image2'])}" width="440" height="280" />  
      </div>
     <div class="smallpic">
      <ul  id="small_list">
            <li class="a"><img src="${team_image_0750($team['image'])}" width="81" height="52" class="f a" /></li>  
             
             <!--{if $team['image1']}-->
            <li><img src="${team_image($team['image1'])}" width="81" height="52" /></li>   
             <!--{/if}-->
            
              <!--{if $team['image2']}-->
            <li><img src="${team_image($team['image2'])}" width="81" height="52" /></li>  
               <!--{/if}-->
        </ul>
     </div>
    </div>
    <div class="unit">
     <ul>
      <li class="price"><span class="fee">￥<b>{$team['team_price']}</b></span><span class="exfee">{$currency}${moneyit($team['market_price'])}</span><span class="discount">${team_discount($team)}折</span></li>
      <li class="points"><em><i style="width:{$team['score']*20}%;"><img src="static/0750/images/stars.gif" height="12" width="66" /></i></em><span class="point">{$team['score']}分</span><span class="discuss"><a href="#nav5">${get_comment_nums($team['id'])}条评价</a></span><span class="sold">已售<b>{$team['now_number']}</b>份</span></li>
      <li class="u u1">
       <div class="td1">商家</div>
       <div class="td2"><a href="/partner.php?id={$team['partner_id']}" class="supplier">{$partner['title']}</a>|<a href="#nav4" class="address">查看商家电话/地址信息</a></div>
      </li>
      <li class="u u2">
       <div class="td1">有效期</div>
       <div class="td2">截止至 ${date('Y.m.d',$team['expire_time'])}<b title="自购买团购日起截至到该时间团购券均有效">[?]</b>
       <span>
       <!--{if $team['weekend'] == 'Y'}-->周末<!--{/if}--><!--{if $team['loliday'] == 'Y'}-->节假日<!--{/if}-->通用
       </span>
       
       </div>
      </li>
            <li class="u u3">
       <div class="td1">使用时间</div>
       <div class="td2">{$partner['yy_time']}<b title="团购券在该时段才能使用">[?]</b></div>
      </li>
            <li class="u u4">
       <div class="td1">官方服务承诺</div>
       <div class="td2">
       <!--{if $team['allowrefund'] == 'Y'}-->
        <i class="i1" title="该团购支持退款">支持退款</i>   
        <!--{else}-->
         <i class="i1" title="该团购不支持退款">不支持退款</i>   
        <!--{/if}-->
           
        <i class="i3" title="{$INI['system']['abbreviation']}团购网所有团购评价均来自真实用户消费评价，绝无水分">来自真实用户评价</i>               </div>
      </li>
            <li class="u nums">
       <div class="td1">购买数量</div>
       <div class="td2">
        <a href="javascript:;" class="minus">-</a>
        <span class="num"><input onkeyup="javascript:(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this);" onblur="javascript:this.v();" type="text" value="1" name="" /></span>
        <a href="javascript:;" class="plus">+</a>
               </div>
      </li>
          <li class="u button">
        
         <!--{if $team['close_time']}-->
             <a class="style lighter buy-now" title="抱歉，您来晚了，项目已经结束啦！">秒杀结束</a>
         <!--{else}--> 
             <a class="style lighter buy-now" ${$team['begin_time']<time()?'href="/team/buy.php?id='.$team['id'].'"':''}>
              ${$team['begin_time']<time()?'开始秒杀':'未开始'}
            </a>
          <!--{/if}-->  
   

                  
                            
        <!--{if $is_collect == 1}-->   
        <a href="/team.php?id={$team['id']}&act=delcollect" class="addfav">取消收藏</a>
         <!--{else}-->                  
	    <a href="/team.php?id={$team['id']}&act=collect" class="addfav">收藏</a>
        
         <!--{/if}--> 
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="i">分享到</span>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_qzone"></a>
        <a class="bds_renren"></a>
        <a class="bds_diandian"></a>
        <a class="bds_taobao"></a>
        </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=457930" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END -->
        </li>
          <li class="u time" id="counter">
						<span>该项目已结束:${date('Y-m-d H:i', $team['close_time'])}</span>
	    </li>          
         </ul>
    </div>
   </div>
  </div>
 </div>
 <div class="productDetail pd">
  <div class="left">
      <div class="article">
    <div class="gre-content">
      <div style="height:43px; background-color:#fff;">
       <div class="gre-navigation navbar navbar-static" id="fix">
        <ul class="nav">
         <li class="active"><a href="#nav3">团购详情</a></li>    
         <li><a href="#nav4">商家介绍</a></li>  
         <li><a href="#nav5">消费评价<span>(${get_comment_nums($team['id'])})</span></a></li>
         <li><a href="#nav6">附近的团购</a></li>
          <li class="at-right"><b>团购价：{$team['team_price']}元</b><a href="/team/buy.php?id={$team['id']}" class="buy-now"></a></li>
        </ul>
       </div>
      </div>
      <!-- 团购商品详情开始 -->
      <div class="gre-main" id="nav3">
      
      <div class="g_title">温馨提示</div>
        <div class="goods_tips">
           {$team['summary']}
        </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
                  <div class="g_title">团购详情</div>
                  
                  
                      
                  
            {$team['detail']}
       </div>
      <!-- 团购商品详情结束 -->
            <!-- 团购商家开始 -->
      <div class="gre-business" id="nav4">
       <div class="g_title">商家介绍</div>
       
       		<h2>{$partner['title']}</h2>
            <div style="margin-top:10px;">{$partner['location']}</div>
            <div style="margin-top:10px;"><a href="{$partner['homepage']}" target="_blank">${domainit($partner['homepage'])}</a></div>
                       
                     <!--{if $partner['image']}-->
                 <img src="${team_image($partner['image'])}" alt="" border="0" /><br />
                   <!--{/if}-->
                 <!--{if $partner['image']}-->
                 <img src="${team_image($partner['image1'])}" alt="" border="0" /><br />
                   <!--{/if}-->
                       <!--{if $partner['image1']}-->
                 <img src="${team_image($partner['image2'])}" alt="" border="0" /><br />
                   <!--{/if}-->
            
      </div>
      <!-- 团购商家结束 -->
            <!-- 用户评价开始 -->
      <div class="user-reviews" id="nav5">
        <div class="g_title">用户评价</div>
       <div class="user-reviews-t"><span class="urt-left">消费评价(<b>${get_comment_nums($team['id'])}</b>)</span><span class="urt-right">
        <!--{if $login_user}-->
       <b>欢迎您！<a><!--{if $_SESSION['ali_token']}-->
				${mb_strimwidth($login_user['realname'],0,10)}
                <!--{else}-->
				${mb_strimwidth($login_user['username'],0,10)}
				<!--{/if}--></a></b>
       <!--{else}-->
       <b>您还没有登录，请先<a href="/account/login.php">登录</a></b>
       <!--{/if}-->
       
       </span></div>
       <div class="user-reviews-mark">
        <table width="770" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; font-size:14px;">
         <tr>
          <td width="33%" height="135" align="center" valign="middle" style="border:1px solid #e7e3e4; border-top:none;">
           <div class="points-area">
            <div class="points">5.0<span>分</span></div>
           </div>
           <div class="points-area">
            <div class="star" style="padding-left:39px;" rel="5.0">
            </div>
           </div>
           <div class="points-area">
            <div class="numbers">已有<b>${get_comment_nums($team['id'])}</b>人评价</div>
           </div>
          </td>
          <td width="33%" align="center" valign="middle" style="border:1px solid #e7e3e4; border-top:none;">
  
           <div class="points-area">
               <div>服务</div>
               <div class="star" rel="5.0" data-a="arrhints_2">
               </div>
               <div>5.0分</div>
           </div>
           <div class="points-area">
               <div>环境</div>
               <div class="star" rel="5.0" data-a="arrhints_3">
               </div>
               <div>5.0分</div>
           </div>
          </td>
          <td width="33%" align="center" valign="middle" style="border:1px solid #e7e3e4; border-top:none;">
           <div class="points-area"><div>5分</div><div class="percent"><div style="width:{$b_good}%"></div></div><div>{$good}人</div></div>
           <div class="points-area"><div>4分</div><div class="percent"><div style="width:{$b_in}%"></div></div><div>{$in}人</div></div>
           <div class="points-area"><div>3分</div><div class="percent"><div style="width:{$b_poor}%"></div></div><div>{$poor}人</div></div>
           <div class="points-area"><div>2分</div><div class="percent"><div style="width:%"></div></div><div>0人</div></div>
           <div class="points-area"><div>1分</div><div class="percent"><div style="width:%"></div></div><div>0人</div></div>
          </td>
         </tr>
        </table>
       </div>
       <div class="user-reviews-st">
       <span class="urst-left"><b>全部评价</b></span>
       <!--<span class="urst-right"><label><input checked="checked" type="checkbox" id="is_content" />有内容的评价</label><a href="javascript:;" class="focus orderby" data-order="" title="按默认排序">默认</a><a href="javascript:;" class="timeOff orderby" data-order="time" title="按时间由新到旧排序">按时间</a></span>-->
       
       </div>
       <div class="user-reviews-c" id="user-reviews-c" data-goods_id="7574">
       
       <!--{loop $comm_list $index $one}-->
            <ul class="urc-panel">
            <li>
            <div class="urc-left">
            <span class="user-name">{$one['username']}</span>
            <span class="user-level">
            <img src="/static/0750/images/1.gif">
            <img src="/static/0750/images/1.gif">
            <img src="/static/0750/images/1.gif">
            <img src="/static/0750/images/1.gif">
            <img src="/static/0750/images/1.gif">
            </span>
            <span class="date">${date('Y-m-d',$one['comment_time'])}</span>
            </div>

            </li>
            <li>{$one['comment_content']}</li>
            <li>
            <span class="shopId"></span>
            </li>
            </ul>
         <!--{/loop}-->
        </div>
      </div>
      <!-- 用户评价完毕 -->
            <!-- 商家附近的团购开始 -->
      <div class="nearby init-follow" id="nav6">
       <div class="g_title">附近的团购</div>
       <div class="list-nearby">
       
       
       

<!--{loop $fjteams $index $one}-->
             
                <div class="panel <!--{if $index%3 == 2}-->nomarginright<!--{/if}-->">
         <ul>
          <li class="picture"><a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank"><img src="${team_image($one['image'])}" width="240" height="152" /></a></li>
          <li class="title"><a href="/team.php?id={$one['id']}" title="{$one['title']}" target="_blank">{$one['title']}</a></li>
          <li class="inf"><span class="floatleft"><b class="red">{$currency}${moneyit($one['team_price'])}</b><em>原价{$currency}${moneyit($one['market_price'])}</em></span><span class="floatright"><i class="orange">{$one['now_number']}</i>人团购</span></li>
          <li class="locate">附近商家：${get_partner_name($one['partner_id'])}</li>
         </ul>
        </div>
  <!--{/loop}-->             
               
               </div>
             </div>
      <!-- 商家附近的团购结束-->
          </div>
   </div>
  </div>
  <div class="right">
    <div class="deal">
     <div class="title sn"><span>{$partner['title']}</span><a href="/partner.php?id={$team['partner_id']}" target="_blank">了解一下商家</a></div>
     <div class="list si">
                <div class="table">
          <table cellpadding="0" cellspacing="0" border="0" width="232">
          <tr>
          	<td colspan="2">{$partner['title']}</td>
          </tr>
           <tr class="grey">
            <td width="102" valign="top">商家地址：</td>
            <td width="230" valign="top">{$partner['address']}</td>
           </tr>
                      <tr>
            <td valign="top">联系电话：</td>
            <td valign="top">{$partner['phone']}</td>
           </tr>
                                 <tr class="grey">
            <td valign="top">营业时间：</td>
            <td valign="top">{$partner['yy_time']}‎</td>
           </tr>
                                </table>
      </div>
               </div>
    </div>
            
        <div class="deal cs">
    <div class="title"><span class="floatleft"><img src="static/0750/images/wb.jpg"><span class="orange">关注我们</span></span><span class="floatright"><a target="_blank" href="{$INI['system']['sinajiwai']}" class="plus">关注</a></span></div>
        <div class="list">
         <p><img src="static/0750/images/sever01.jpg">客服热线：{$INI['system']['kefu_hotline']}</p>
         <p><img src="static/0750/images/sever02.jpg">客服服务时间：{$INI['system']['server_time']}</p>
         <p style="padding-left:20px;">客服值班：周一至周日(节假日除外)</p>
         <p><img src="static/0750/images/sever03.jpg">投诉邮箱：<a href="mailto:{$INI['system']['tousu_email']}>{$INI['system']['tousu_email']}</a></p>
         <p class="put"><a href="/index.php" target="_blank">团购在线</a></p>
        </div>
    <div class="title"><span class="green">意见反馈</span></div>
    <div style="width:235px;">
    <div style="float:left; width:66px;"><img src="static/0750/images/fk.gif"></div>
    <div style="float:left; width:168px;">用户见面！提交意见！<br><a href="/feedback/suggest.php" target="_blank"><img src="static/0750/images/fkBtn.gif" border="0" style="margin-top:5px;"></a></div>
    </div>
    </div>
    <div class="deal" id="history">
    <div class="title">浏览历史</div>
    <div class="list">
   <!--{if $history_team}-->
    <!--{loop $history_team $index $one}-->
  <div class="box">
<ul class="right-history">
<li>
<div class="pi">
<a target="_blank" href="/team.php?id={$one['id']}">
<img width="65" height="41" src="${team_image($one['image'])}">
</a>
</div>
<div class="ti">
<a  target="_blank" href="/team.php?id={$one['id']}">
<span>[${get_area_name($one['area_id'])}]</span>
{$one['title']}
</a>
</div>
<div class="pr">
<b class="fee red">{$currency}${moneyit($one['team_price'])}</b>
<b class="exfee">{$currency}${moneyit($one['market_price'])}</b>
</div>
</li>
</ul>
    </div>
    <!--{/loop}-->
  
   <!--{else}-->
  
      <div class="box">
       <ul>
        <li class="tips">尚未有浏览记录，<a href="/index.php">去逛逛</a></li>
       </ul>
    </div>
     <!--{/if}--> 
        </div>
            </div>
    </div>
  </div>
 </div>
<div id="Mask"></div>
<div id="mbox">
 <table border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#68b02c">
   <td width="96%" height="28" style="font-size:16px; color:#FFF; padding-left:1%;">团购地图</td>
   <td width="3%" align="center"><img src="static/0750/images/gb.gif" style="cursor:pointer;" onclick="closeMap()" /></td>
  </tr>
  <tr>
   <td colspan="2" align="center" style="color:#000"><div id="bigmap"></div></td>
  </tr>
 </table>
</div>
<div id="rating_box" class="rating_box c_dialog oftengo">
    <div class="pos" id="rateform">
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="static/0750/js/jquery.raty.min.dev.js"></script>
<script type="text/javascript">
        var endTime = {$team['end_time']};
        var beginTime = {$team['begin_time']};
        var system_time = {$now};
        var sysSecond;
        var interValObj;
        var statusTimeout;
        
        function setRemainTime()
        {
			if (sysSecond1 > 0){
				  var second = Math.floor(sysSecond1 % 60);              // 计算秒     
                var minite = Math.floor((sysSecond1 / 60) % 60);       //计算分
                var hour = Math.floor((sysSecond1 / 3600) % 24);       //计算小时
                var day = Math.floor((sysSecond1 / 3600) / 24);        //计算天
                var timeHtml = "";
                if(day >= 3)
                    timeHtml = "<b>3</b>天以上";
                else
                {
                    timeHtml = "<b>"+hour+"</b>"+LANG.JS_HOUR+"<b>"+minite+"</b>"+LANG.JS_MINUTE;
                    if(day > 0)
                        timeHtml ="<b>"+day+"</b>"+LANG.JS_DAY + timeHtml;
                    timeHtml+="<b>"+second+"</b>"+LANG.JS_SECOND;
                }
                try
                {
                    var tip_text = "";
                    if(beginTime > system_time)
                        tip_text = "倒计时:";
                    else if(endTime > system_time)
                        tip_text = "距离结束还有";
                    $("#counter").html(tip_text+timeHtml);
                    sysSecond1--;
                }
                catch(e){}
			}else if(sysSecond1 == 0)
            {
                window.clearTimeout(interValObj);
                window.location.href=window.location.href;
            }
            else if (sysSecond > 0)
            {
                var second = Math.floor(sysSecond % 60);              // 计算秒     
                var minite = Math.floor((sysSecond / 60) % 60);       //计算分
                var hour = Math.floor((sysSecond / 3600) % 24);       //计算小时
                var day = Math.floor((sysSecond / 3600) / 24);        //计算天
                var timeHtml = "";
                if(day >= 3)
                    timeHtml = "<b>3</b>天以上";
                else
                {
                    timeHtml = "<b>"+hour+"</b>"+LANG.JS_HOUR+"<b>"+minite+"</b>"+LANG.JS_MINUTE;
                    if(day > 0)
                        timeHtml ="<b>"+day+"</b>"+LANG.JS_DAY + timeHtml;
                    timeHtml+="<b>"+second+"</b>"+LANG.JS_SECOND;
                }
                try
                {
                    var tip_text = "";
                    if(beginTime > system_time)
                        tip_text = "倒计时:";
                    else if(endTime > system_time)
                        tip_text = "距离结束还有";
                    $("#counter").html(tip_text+timeHtml);
                    sysSecond--;
                }
                catch(e){}
            }
            else if(sysSecond == 0)
            {
                window.clearTimeout(interValObj);
                window.location.href=window.location.href;
            }else{
			    tip_text = "";
			}
            interValObj = window.setTimeout("setRemainTime()", 1000); 	
        }
                    sysSecond = endTime - system_time;
					sysSecond1 = beginTime - system_time;
            setRemainTime();
			
			
                
                var arrhints_0= ['很不满意', '不满意', '一般', '满意', '很满意'];
        var arrhints_1= ['太难吃了，很不满意', '不好吃，需要好好改进', '味道一般，勉强凑合吧', '味道还不错，再接再厉哟', '味道好极了，还想吃'];
        var arrhints_2= ['服务太差了，气死我了', '服务有点差，需要好好改进', '服务一般，勉强可以接受啦', '服务还不错，再接再厉哟', '服务一级棒，好贴心呀'];
        var arrhints_3= ['环境非常差，我都看不下去了', '环境有点差，需要好好改善', '环境一般，勉强可以接受啦', '环境还不错，希望越来越好', '环境超级好，好喜欢'];
                
        $(function(){
            showStar();
        });
        function showStar()
        {
            $(".star").each(function(){
                var s = $(this).attr("rel");
                var _arrhints = $(this).attr("data-a") ? eval($(this).attr("data-a")) : arrhints_0;
                if(s!="")
                {
                    s=parseFloat(s).toFixed(1);
                    $(this).raty({
                    half	:	false,
                    space	:	false,
                    score	:	s,
                    readOnly	:	true,
                    // path	:	'#/app/Tpl/0750/Public/Supplier/images/',
                    width	:	'100',
                    hints	:	_arrhints,
                    noRatedMsg	: '还没有评价哟'
                    });
                }
            });
        }
        $('#a_vote').click(function(){
            var goods_id = $('#user-reviews-c').attr("data-goods_id");
            var rate_box = $("#rateform");
            if(goods_id > 0)
            {
                if(! rate_box.attr("data-is_loaded"))
                {
                    $.ajax({
                        url: "index.php?m=Ajax&a=getrateform",
                        dataType: "json",
                        data:{goods_id:goods_id},
                        cache : false,
                        success:function(data)
                        {
                            if(data.status == 1)
                            {
                                if(data.html)
                                {
                                    rate_box.attr("data-is_loaded", true);
                                    rate_box.html(data.html);
                                    showRate();
                                    $.ShowDialog({"dialog":"rating_box"});
                                }
                            }
                            else
                            {
                                alert(data.msg);
                                if(data.status == -1){window.location.href ="index.php?m=User&a=login";}
                            }
                        }
                    });
                }
                else
                    $.ShowDialog({"dialog":"rating_box"});
            }
        });
        function showRate()
        {
            $('#r_overall').raty({
            scoreName:'overall',
            targetKeep: true,
            targetText: '请选择评分！',
            target:"#t_overall",
            space:false,
            width: "100",
            //path: '#/app/Tpl/0750/Public/Supplier/images/',
            hints:arrhints_0
            });
            $('#r_tasting').raty({
            scoreName:'tasting',
            targetKeep: true,
            targetText: '请选择评分！',
            target:"#t_tasting",
            space:false,
            width: "100",
            //path: '#/app/Tpl/0750/Public/Supplier/images/',
            hints: arrhints_1
            });
            $('#r_service').raty({
            scoreName:'service',
            targetKeep: true,
            targetText: '请选择评分！',
            target:"#t_service",
            space:false,
            width: "100",
            //path: '#/app/Tpl/0750/Public/Supplier/images/',
            hints: arrhints_2
            });
            $('#r_enwir').raty({
            scoreName:'enwir',
            targetKeep: true,
            targetText: '请选择评分！',
            target:"#t_enwir",
            space:false,
            width: "100",
            //path: '#/app/Tpl/0750/Public/Supplier/images/',
            hints: arrhints_3
            });
            if($("#overall").val()>0)
            {
                $('#r_overall').raty('score',$("#overall").val());
            }
            if($("#tasting").val()>0)
            {
                $('#r_tasting').raty('score', $("#tasting").val());
            }
            if($("#service").val()>0)
            {
                $('#r_service').raty('score',$("#service").val());
            }

            if($("#enwir").val()>0)
            {
                $('#r_enwir').raty('score', $("#enwir").val());
            }
        }
 function displayRate(id)
 {
    var r=$('#r'+id);
    var s=r.attr('rel');
    r.raty({readOnly:true,score:s});
 }
function submitRate()
{
	var rate={};
	//var action="Add";
	//var isEdit=false;
    var form = $("form#rate_form");
	if($('#rate_id').val()!="")
	{
	  rate.id=$('#rate_id').val();
	  //action="Update";
	  //isEdit=true;
	}
	rate.overall=$('#r_overall').raty('score');
	rate.tasting=$('#r_tasting').raty('score');
	rate.service=$('#r_service').raty('score');
	rate.enwir=$('#r_enwir').raty('score');
	rate.back_again=$('#back_again')[0].checked?1:0;
	rate.content=$('#ratecontent').val();
	rate.order_id=$('#order_id').val();
	rate.goods_id=$('#goods_id').val();
	rate.is_hide_username=$('#is_hide_username').is(":checked") ? 1 : 0;
	$.ajax({
          url: "index.php?m=Ajax&a=updaterate",
          data:form.serialize(),
          dataType: "json",
          success:function(data)
            {
               if(data.status==1)
               {
                alert(data.msg);
                //$('.rating_box').hide();
                //$('#__back_ground_div').remove();
                //$('.user-reviews-st a.timeOff').click();
                window.location.reload();
                //window.location.href = window.location.href;
               }
               else
               {
                alert(data.msg);
               }
            },
            error:function(a,b,c)
            {
                alert(a.responseText);
            }
    });
	return false;	
}

function del_gallery(id, obj)
{
    obj = $("#"+obj);
    if(id > 0 && obj.length > 0 && confirm("确定要删除此图片吗？"))
    {
        $.ajax({
            url: ROOT_PATH+"/index.php?m=UcRating&a=img_del",
            type : "POST",
            data:{id:id},
            dataType: "json",
            success:function(data)
            {
               if(data.type==1)
               {
                var label = $("#l-"+obj.attr("id"));
                if(label.length > 0)
                {
                    //var img = $("<a><img src=\""+data.data.img+"\" width=\"100%\" border=\"0\" /></a><input type=\"hidden\" name=\"rating_gallery[]\" value=\""+data.data.id+"\" />");
                    label.html('');
                    $(".pic_album span."+obj.attr("id")).remove();
                    // label.append(i_id);
                }
               }
               else
               {
                alert(data.msg);
                if(data.type == -1)
                    window.location.href = ROOT_PATH+"/index.php?m=User&a=login";
               }
            },
            error:function(a,b,c)
            {
                alert(a.responseText);
            }
		});
    }
    return false;
}

function rating_upload(obj)
{
    var _obj = $(obj);
    if(_obj.length > 0 && _obj.val() != "")
    {
	var f_file = new FormData();
    f_file.append("file",obj.files[0]);
	$.ajax({
			  url: ROOT_PATH+"/index.php?m=UcRating&a=upload",
              type : "POST",
			  data:f_file,
			  dataType: "json",
			  contentType: false,
			  processData: false,
			  success:function(data)
				{
				   if(data.type==1)
				   {
                    var label = $("#l-"+_obj.attr("id"));
                    if(label.length > 0)
                    {
                        var html = $("<a><img src=\""+data.data.img+"\" width=\"100%\" border=\"0\" /></a><input type=\"hidden\" name=\"rating_gallery[]\" value=\""+data.data.id+"\" />");
                        label.html(html);
                        var del_html = $("<span class=\"del "+_obj.attr("id")+"\" onclick=\"del_gallery('"+data.data.id+"','"+_obj.attr("id")+"');\">删除</span>");
                        label.after(del_html);
                        showGalleryDel();
                        // label.append(i_id);
                    }
				   }
				   else
				   {
					alert(data.msg);
                    if(data.type == -1)
                        window.location.href = ROOT_PATH+"/index.php?m=User&a=login";
				   }
                   _obj.val('');
				},
				error:function(a,b,c)
				{
					alert(a.responseText);
				}
		});
    }
	return false;	
}

function showGalleryDel()
{
    $(".pic_album label").hover(function(){
        var _this = $(this);
        $(".pic_album span."+_this.attr("for")).show();
    },function(){
        var _this = $(this);
        $(".pic_album span."+_this.attr("for")).hide();
    });
    $(".pic_album span.del").hover(function(){
        $(this).show();
    },function(){
        $(this).hide();
    });
}

    $('.unit ul li.nums .td2 a').click(function(){
        var n = 1;
        if($(this).hasClass('minus')){
            n = parseInt($('.unit ul li.nums .td2 .num input').val());
            if(n>1){n-=1;}else{n=1;}
        }else if($(this).hasClass('plus')){
            n = parseInt($('.unit ul li.nums .td2 .num input').val());
            if(n>0){n+=1;}else{n=1;}
        }
        $('.unit ul li.nums .td2 .num input').val(n);
    });
    $("a.buy-now").click(function(){
        var quantity = parseInt($('.unit ul li.nums .td2 .num input').val());
        if(quantity > 1)
        {
            $(this).attr("href", $(this).attr("href") + "&quantity=" + quantity);
        }
    });
    </script>
</div>

<!--{include foot_ctn}-->
  </body>
</html>

<script type="text/javascript">
$(document).ready(function(){

});
</script>
