<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ZH-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--{include meta_and_title}-->

<link rel="icon" href="favicon.ico" type="/image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="/image/x-icon" />
<link href="/static/0750/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/list.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/custom.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/near.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/og.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/page.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/supplier.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/member.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/poptips.css" rel="stylesheet" type="text/css" />
<link href="/static/0750/css/hack.css" rel="stylesheet" type="text/css" />
<script src="/static/0750/js/j.js" type="text/javascript"></script>
<script src="/static/0750/js/jquery.jcookie.min.js" type="text/javascript"></script>
<script src="/static/0750/js/history.js" type="text/javascript"></script>
<script src="/static/0750/js/js_lang.js" type="text/javascript"></script>
<script language="JavaScript">
<!--
//指定当前组模块URL地址
var CND_URL = 'http://www.0750.tuanzhang.cc';
var HTTP_URL = 'http://www.0750.tuanzhang.cc';
var ROOT_PATH = '';
var PUBLIC = 'app/Tpl/0750/Public';
var VAR_MODULE = 'm';
var VAR_ACTION = 'a';
var FANWE_LANG_ID = '1';
var cityID = '25';

//-->
</script>
</head>

<body>


<!--{include head_ctn}-->

<script type="text/javascript">
$('.ptl .choose a').hover(function(){
	$('.ptl .tl').show();
},function(){});
$('.ptl').hover(function(){},
    function(){
        $('.ptl .tl').hide();
    });
</script>
<div class="bannerLoop" style="background-image:url(/static/0750/images/img/banner1.png);"></div>
<div class="content detailpage dp supplierList supplierDetail special_supplier_page" style="border-top:none;">
 <div class="section atFront dl">
  <div class="info">
   <div class="sn"><span class="n">娱乐特供</span></div>
   <div class="inside">
    <div class="ir">
     <img src="/static/0750/images/info.png" width="400" height="267" />
    </div>
    <div class="il">
     <p class="pos" style="font-size:18px;">娱乐特供简介：</p>
     <p class="pune" style="font-size:14px;">集江门五邑地区娱乐文化 、饮食生活于一体，专为广大消费者搜罗名牌商品，将特价商品送到您的手，消费获利同时，娱乐特供向你奉送本地娱乐活动资讯礼包：包括明星演唱会业务、明星签名见面会、商品特供预售现场文化汇演、现金回馈抽奖活动。实现一次消费，多重获利，实惠有惊喜！！！</p>
    </div>
   </div>
  </div>
 </div>
 <div class="panel p1 dl special_supplier">
  <div class="infoInside">
   <div class="inside">
    <div class="ssp_title">
     <div class="styleR1"></div>
     <div class="styleR2"></div>
     <div class="Font">娱乐预告<br><span>Yule Yugao</span></div>
     <div class="styleR3"><b>提供最全面专业的演唱会，旅游，电影，音乐会，话剧歌剧儿童剧等演出优惠预告，让你快人一步，更快更优惠。</b></div>
     <div class="styleR4"></div>
    </div>
    <div class="list">
     <ul>
      <li><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2172" target="_blank" title="茜拉@巫启贤《爱的狂飙》亚洲巡回演唱会佛山首站"><img src="/static/0750/images/67283_n.jpg" width="248" /></a></li>
      <li><a href="javascript:;" title="敬请期待"></a></li>
      <li><a href="javascript:;" title="敬请期待"></a></li>
      <li class="nomarginright"><a href="javascript:;" title="敬请期待"></a></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
 <div class="brand_content">
  <div class="list">
   <div class="ssp_title">
    <div class="styleR1"></div>
    <div class="styleR2"></div>
    <div class="Font">特供商家<br><span>Teyao Shangjia</span></div>
    <div class="styleR3"><b>聚集江门星娱乐商家，畅享优惠团购服务。</b></div>
    <div class="styleR4"></div>
   </div>
      
   <div class="panel noMargin">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2168" target="_blank">
    <img src="/static/0750/images/53ae33dc169b9.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">中山市中鹰汽车销售服务有限公司江门分公司</div>
     <div class="inf">
      <p>中山市中鹰汽车销售服务有限公司江门分公司——位于江门市江海区银帆路2号1幢。中华H330空间够大、驾驶简单稳定、动力虽不算强劲但也满足日常使用，自动变速器简化驾驶，6.58万~7.58万元的售价颇具吸引力，综合来看，中华H330在售价，空间，驾驶方面都具备足够竞争力，成为80后的幸福之车不是问题。还在等什么？六盘水华晨中华H330绝对是您的幸福首选。</p>
     </div>
    </div>
   </div>
   <div class="panel">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2162" target="_blank">
    <img src="/static/0750/images/53ae33960388c.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">慧益贸易有限公司</div>
     <div class="inf">
      <p>江门市蓬江区慧益贸易有限公司成立于2007年，是一家多元化的销售型科技公司。公司自创建伊始便是3M公司在江门五邑地区的核心代理商，主要经营3M品牌的净水器、空气净化器、建筑窗贴膜产品，在与生命和健康息息相关的“阳光、空气和水”上，致力于为现代生活提供高品质的净化解决方案。公司以3M品牌和技术为依托，以健康环保行业为驱动力，正加快进行渠道和店面的拓展，诚邀相关人士的加盟。</p>
     </div>
    </div>
   </div>

       <div class="panel noMargin">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2177" target="_blank">
    <img src="/static/0750/images/53ae333b62e6d.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">广东顾家电器有限公司 </div>
     <div class="inf">
      <p>顾家电器产品已形成灶具(红外线聚能燃气灶、燃气灶、沼气灶)、抽油烟机(冷凝式抽油烟机)、 热水器(电热水器、燃气热水器和太阳能热水器)、消毒柜、橱柜等系列产品为主的1000多个品种，其中红外线聚能燃气灶具是中国两大红外线聚能灶具品牌之一，燃气热水器、抽油烟机分别进入全国行业前十强</p>
     </div>
    </div>
   </div>
   <div class="panel">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2176" target="_blank">
    <img src="/static/0750/images/53ae3345af321.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">珠江啤酒</div>
     <div class="inf">
      <p>珠江啤酒是广州珠江啤酒集团有限公司旗下的品牌。广州珠江啤酒集团有限公司于1985年建成投产，是一家以啤酒业为主体，以啤酒配套和相关产业为辅助的大型现代化啤酒企业，是全国文明单位、国家环境友好企业，目前，珠啤集团本部产能突破150万吨，是全球单厂最大的啤酒酿造中心，珠江啤酒是全国三大啤酒品牌之一，单一品牌销量位居全国同行第二，在中国啤酒行业中享有“南有珠江”的美誉。</p>
     </div>
    </div>
   </div>
      
       <div class="panel noMargin">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2175" target="_blank">
    <img src="/static/0750/images/53ae3352d557b.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">喜力啤酒</div>
     <div class="inf">
      <p>总部位于荷兰，且由世界第四大啤酒公司生产的喜力啤酒，凭借着出色的品牌战略和过硬的品质保证，成为全球顶级的啤酒品牌。喜力啤酒在全世界170多个国家热销，其优良品质一直得到业内和广大消费者的认可。喜力是一种主要以蛇麻子为原料酿制而成的，口感平顺甘醇，不含枯涩刺激味道的啤酒。</p>
     </div>
    </div>
   </div>
   <div class="panel">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2173" target="_blank">
    <img src="/static/0750/images/53ae335dcdb69.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">德而乐施</div>
     <div class="inf">
      <p>从1965年成立，同年在新加坡建立工厂生产出第一台电热水器，至今已经有近半世纪的历史。德而乐施于1993年进入中国大陆市场。德而乐施就一直致力于节能、环保的快速电热水器产品的研发生产，凭借其敏锐的眼光和独特的品牌战略，通过几十年的不懈努力,其市场已经布局全球，成为名副其实的行业领导品牌。 德而乐施作为专注于快速电热水器产品领域的专业品牌，德而乐施一直致力于为追求时尚、品质生活的人士提供具有设计先进、人性化、品质可靠的产品，努力为用户创造倍受关爱与体贴的使用体验。同时，德而乐施也在积极倡导一种价值观：鼓励人们在追求事业成功的同时，留出更多的时间来关心家人，享受生活，做到事业与生活平衡，事业与生活共赢。德而乐施，德行天下，乐施万家，为客户创造价值、为员工创造发展、为社会创造效益。</p>
     </div>
    </div>
   </div>
            
       <div class="panel noMargin">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2178" target="_blank">
    <img src="/static/0750/images/53ae3a352d7ef.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">明可达</div>
     <div class="inf">
      <p>鹤山市明可达实业有限公司江门分公司,为国内最早的灯具制造企业之一,成就国内书写台灯顶级品牌。</p>
     </div>
    </div>
   </div>
   <div class="panel">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2161" target="_blank">
    <img src="/static/0750/images/53ae33a10efa7.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">五常千玺稻花香益华店</div>
     <div class="inf">
      <p>五常千玺稻花香益华店——位于益华乐家超市服务台旁。千玺牌稻花香米种植基地位于黑龙江省南部五常市境内水资源保护区。独有的寒地黑土、充沛的第一积温带日照、天然纯净的水质、丰富的植被、清新的空气、有机质含量高的土壤、显著的昼夜温差、超长的孕育期，这些得天独厚的地理自然条件，加之稻花香品质优良、种植规范、加工科学，使千玺牌稻花香米成为五常大米的精品。具有清甜绵软、沁人肺腑、米粒油润、芳香四溢、唇齿留香的特。</p>
     </div>
    </div>
   </div>
       <div class="panel noMargin">
    <div class="img"><a href="http://www.0750.tuanzhang.cc/index.php?m=Supplier&a=info&id=2179" target="_blank">
    <img src="/static/0750/images/53ae3309890c7.jpg" width="200" height="200" /></a></div>
    <div class="text">
     <div class="t">美格数码</div>
     <div class="inf">
      <p>美格数码——江门东华一路新华电脑城楼梯夹层。优质产品，真诚服务。主营苹果一系列数码产品，港行手机和数码相机，MP3，MP4等等</p>
     </div>
    </div>
   </div>
         
      
  </div>
 </div>
</div>




<!--{include foot_ctn}-->



</body>
</html>